<template name="aboutTemplate">
	<dl class="sub-nav">
	{{#if route 'about/history'}}
		<dd class="active"><a href="/about/history">History</a></dd>
	{{else}}
		<dd><a href="/about/history">History</a></dd>
	{{/if}}
	{{#if route 'about/rules'}}
		<dd class="active"><a href="/about/rules">Rules & Regulations</a></dd>
	{{else}}
		<dd><a href="/about/rules">Rules & Regulations</a></dd>
	{{/if}}
	{{#if route 'about/photos'}}
		<dd class="active"><a href="/about/photos">Photos</a></dd>
	{{else}}
		<dd><a href="/about/photos">Photos</a></dd>
	{{/if}}
	{{#if route 'about/clubs'}}
		<dd class="active"><a href="/about/clubs">Clubs</a></dd>
	{{else}}
		<dd><a href="/about/clubs">Clubs</a></dd>
	{{/if}}
	</dl>
	<hr>
	{{> yield region='aboutSection'}}
</template>

<template name="history">
	<h2>History</h2>
	{{{this.value}}}
</template>

<template name="rules">
	{{{this.value}}}
</template>

<template name="photos">
	<h2>Photos</h2>
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
	{{#each photoList}}
	  <li>
	  	<a class="th">
		  	<div style="background-image: url('/photos/{{this.photo}}')" class="thumbnail" data="{{this.index}}">
		  	</div>
	  	</a>
	  </li>
	{{/each}}
	</ul>
</template>

<template name="clubs">
	<h2>Clubs</h2>
	{{#each this}}
		<div class="panel">
			<h3>{{name}}</h3>
			<p>{{description}}</p>
			<h5><a href="{{website}}">Website</a></h5>
		</div>
	{{/each}}
</template>

<template name="photoModal">
	<div id="photoModal" class="reveal-modal" data-reveal>
		<i class="general foundicon-left-arrow"></i>
		<img id="photoBox" />
		<i class="general foundicon-right-arrow"></i>
		<a class="close-reveal-modal">&#215;</a>
	</div>
</template>
