<head>
	<title>Summer League Website</title>
	<link href='http://fonts.googleapis.com/css?family=Faster+One:400,900,700,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/summerleague.ico?v=3">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<template name="mainLayout">
	<div class= "row" id="wrapper">
		<nav class="top-bar" data-topbar id="top-bar">

			<ul class="title-area">
		    	<li class="name"></li>
				<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
			</ul>

			<section class="top-bar-section">
				


				<ul class="right">
				{{#if route 'main'}}
					<li class="active"><a href="/">Home</a></li>
				{{else}}
					<li><a href="/">Home</a></li>
				{{/if}}
				{{#if route 'about'}}
					<li class="active"><a href="/about">About</a></li>
				{{else}}
					<li><a href="/about">About</a></li>
				{{/if}}
				{{#if route 'news'}}
					<li class="active"><a href="/news">News</a></li>
				{{else}}
					<li><a href="/news">News</a></li>
				{{/if}}
				{{#if route 'fixtureSpecific'}}
					<li class="active"><a href="/fixtures">Fixtures</a></li>
				{{else}}
					<li><a href="/fixtures">Fixtures</a></li>
				{{/if}}
				{{#if route 'results'}}
					<li class="active"><a href="/results">Results</a></li>
				{{else}}
					<li><a href="/results">Results</a></li>
				{{/if}}
				</ul>
			</section>

		</nav>
		{{> headerPic}}		
		{{> yield region='mainYield'}}
	</div>
</template>

<template name="main">
	<div class="medium-3 show-for-medium-up columns summerSideBar">
		{{> yield region='sideBar'}}
	</div>
	<div class="medium-9 small-12 columns">
		{{> yield region='mainSection'}}
	</div>
</template>

<template name="headerPic">
	<div id="headerPic">
		<h1>Summer League</h1>
	</div>
</template>

<template name="loading">
	<div class="loadingDiv">
		<h2>Loading...</h2>
	</div>
</template>