#wrapper .side-nav li.divider {
	border-top-color: rgba(221, 221, 221, 1);
}

.thumbnailHolder {
	max-width: 160px;
	margin-left: auto;
	margin-right: auto;
}

.sidebarThumbnail {
	height: 100px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	padding: 2px;
}

.tableSummary {
	width: 100%;
	font-size: 0.8em;	
	text-align: center;
}

.tableSummary table td {
	font-size: 0.9em;
}